[Unit]
Description=Resize-FS one time run.
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/resize-fs
ExecStartPost=/bin/systemctl disable resize-fs.service

[Install]
WantedBy=basic.target
