Source: raspi-config
Section: utils
Priority: extra
Maintainer: Martin Wimpress <code@flexion.org>
Build-Depends: debhelper (>= 8.0.0),
Standards-Version: 3.9.6
Vcs-Git: git://git@github.com:flexiondotorg/raspi-config.git
Vcs-Browser: https://github.com/flexiondotorg/raspi-config

Package: raspi-config
Architecture: all
Depends: alsa-utils,
         lua5.1,
         parted,
         psmisc,
         whiptail,
         ${misc:Depends},
Recommends: triggerhappy,
Description: Raspberry Pi configuration tool
 A simple configuration tool for common Raspberry Pi administrative tasks
